@font-face {
  font-family: CharisSIL;
  src: url(../fonts/CharisSIL-Regular.woff2);
}

@font-face {
  font-family: CharisSIL;
  font-style: italic;
  src: url(../fonts/CharisSIL-Italic.woff2);
}

@font-face {
  font-family: CharisSIL;
  font-weight: bold;
  src: url(../fonts/CharisSIL-Bold.woff2);
}

@font-face {
  font-family: CharisSIL;
  font-weight: bold;
  font-style: italic;
  src: url(../fonts/CharisSIL-BoldItalic.woff2);
}

.charis-sil,
.charis-sil textarea {
  font-family: CharisSIL, sans-serif;
}

@font-face {
  font-family: HpPrime;
  src: url(../fonts/HPPrime.ttf);
}

.hp-prime,
.hp-prime textarea {
  font-family: HpPrime;
  text-transform: none !important;
}

@font-face {
  font-family: CasioClassWiz;
  src: url(../fonts/CASIO\ ClassWiz.ttf);
}

.casio-classwiz,
.casio-classwiz textarea {
  font-family: CasioClassWiz;
  text-transform: none !important;
}

@font-face {
  font-family: CasioClassWizCW01;
  src: url(../fonts/CW01.ttf);
}

.casio-classwiz-cw01,
.casio-classwiz-cw01 textarea {
  font-family: CasioClassWizCW01;
  text-transform: none !important;
}
