@font-face {
  font-family: CharisSIL;
  src: url(../fonts/CharisSIL-Regular.woff2);
}

@font-face {
  font-family: CharisSIL;
  font-style: italic;
  src: url(../fonts/CharisSIL-Italic.woff2);
}

@font-face {
  font-family: CharisSIL;
  font-weight: bold;
  src: url(../fonts/CharisSIL-Bold.woff2);
}

@font-face {
  font-family: CharisSIL;
  font-weight: bold;
  font-style: italic;
  src: url(../fonts/CharisSIL-BoldItalic.woff2);
}

@font-face {
  font-family: HpPrime;
  src: url(../fonts/HPPrime.ttf);
}

@font-face {
  font-family: CasioClassWiz;
  src: url(../fonts/CASIO\ ClassWiz.ttf);
}

@font-face {
  font-family: CasioClassWizCW01;
  src: url(../fonts/CW01.ttf);
}
