body,
body .v-application {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    Helvetica, 'Segoe UI', Arial, Roboto, 'PingFang SC', miui,
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}

.padding-safe-left {
  padding-left: constant(safe-area-inset-left) !important;
  padding-left: env(safe-area-inset-left) !important;
}

.safe-top {
  margin-top: constant(safe-area-inset-top) !important;
  margin-top: env(safe-area-inset-top) !important;
}

.safe-bottom {
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom);
}

.app-bar {
  height: calc(constant(safe-area-inset-top) + 56px) !important;
  height: calc(env(safe-area-inset-top) + 56px) !important;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

.random-slogan {
  padding-top: calc(constant(safe-area-inset-top) + 32px) !important;
  padding-top: calc(env(safe-area-inset-top) + 32px) !important;
}

.app-main {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: constant(safe-area-inset-left) !important;
  padding-left: env(safe-area-inset-left) !important;
  padding-right: constant(safe-area-inset-right) !important;
  padding-right: env(safe-area-inset-right) !important;
}

.no-select {
  user-select: none;
}

.no-wrap {
  white-space: nowrap;
}

.monospace,
.editor textarea {
  font-family: monospace;
}

.ipa,
.ipa-editor textarea {
  font-family: CharisSIL, sans-serif;
}

#katex .katex .accent {
  background-color: unset !important;
}
